<!DOCTYPE html>

<!--
Copyright (c) 2018 Andrea Janes <ajanes@unibz.it>, 
                   Riccardo Felluga <riccardo.felluga@stud-inf.unibz.it>, 
                   Max Schweigkofler <maxelia.schweigkofler@stud-inf.unibz.it>

This file is part of the project reuse-checker which is released under the MIT license.
See file LICENSE or go to https://github.com/riccardofelluga/reuse-checker for full license details.

SPDX-License-Identifier: MIT
-->

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Reuse Checker</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body>
  <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="<%= page_path(@conn, :index) %>">Reuse Checker</a>
      </div>
    </nav>
    
    <%= unless is_nil(get_flash(@conn, :info)) do %>
      <p class="alert alert-success" role="alert"><%= get_flash(@conn, :info) %></p>
    <% end %>
    <%= unless is_nil(get_flash(@conn, :error)) do %>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    <% end %>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="<%= page_path(@conn, :contacts) %>">Contacts</a>
              </li>
              <li class="list-inline-item">|</li>
              <li class="list-inline-item">
                <a href="<%= page_path(@conn, :terms) %>">Terms of Use</a>
              </li>
              <li class="list-inline-item">|</li>
              <li class="list-inline-item">
                <a href="<%= page_path(@conn, :privacy) %>">Privacy Policy</a>
              </li>
            </ul>
          </div>          
        </div>
      </div>
    </footer>
  </body>
</html>
